body {
  background-color: rgb(189, 189, 189);
  height: 100vh;
  width: 100%;
  margin: 0;
}
#gray-box {
  background-color: rgb(70, 70, 71);
  height: 20vh;
  width: 100%;;
}
#white-box {
  background-color: rgb(255, 255, 255);
  height: 70vh;
  width: 75%;
  margin: auto;
}
#black-box{
  background-color: black;
  height: 10vh;
  width: 75%;
  margin: auto;
}